{% include "main/base.html" %}
<div class="card card-background" style="background-image: url('https://www.kawisafi.com/images/kawisafi-logo.png')">
    <div class="card-body">
      <h6 class="card-category text-info">KawiSafi Ventures</h6>
      <a href="#pablo">
        <h3 class="card-title"></h3>
        </a>
        <p class="card-description">
       
        </p>
      <a href="#pablo" class="btn btn-white btn-link">
        <i class="material-icons">subject</i> Website
      </a>
      <a href="#pablo" class="btn btn-white btn-link">
        <i class="material-icons">watch_later</i>Schedule of investments
      </a>
    </div>
  </div>


  <div class="card card-background" style="background-image: url('http://www.bluehaveninitiative.com/bluehaven/includes/themes/CycloneBootstrap/images/blue-haven-initiative-logo.svg')">
    <div class="card-body">
      <h6 class="card-category text-info">Blues Heaven Initiative</h6>
      <a href="#pablo">
        <h3 class="card-title"></h3>
        </a>
        <p class="card-description">
        </p>
      <a href="#pablo" class="btn btn-white btn-link">
        <i class="material-icons">subject</i> Website
      </a>
      <a href="#pablo" class="btn btn-white btn-link">
        <i class="material-icons">watch_later</i>Schedule of investments
      </a>
    </div>
  </div>